#==============================================================================#
# SSP GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# OS: Linux
#==============================================================================#
#   General
#==============================================================================#
*~
#==============================================================================#
#   KDE directory preferences
#==============================================================================#
.directory
#==============================================================================#
#   Linux trash folder which might appear on any partition or disk
#==============================================================================#
.Trash-*


#==============================================================================#
# OS: Apple OSX
#==============================================================================#
#   General
#==============================================================================#
.DS_Store
.AppleDouble
.LSOverride
.svn
#==============================================================================#
#   Icon must end with two \r
#==============================================================================#
Icon
#==============================================================================#
#   Thumbnails
#==============================================================================#
._*
#==============================================================================#
#   Files that might appear in the root of a volume
#==============================================================================#
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
#==============================================================================#
#   Directories potentially created on remote AFP share
#==============================================================================#
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#==============================================================================#
# OS: Windows
#==============================================================================#
#   Windows image file caches
#==============================================================================#
Thumbs.db
ehthumbs.db
#==============================================================================#
#   Folder config file
#==============================================================================#
Desktop.ini
#==============================================================================#
#   Recycle Bin used on file shares
#==============================================================================#
$RECYCLE.BIN/
#==============================================================================#
#   Windows Installer files
#==============================================================================#
*.cab
*.msi
*.msm
*.msp
#==============================================================================#
#   Windows shortcuts
#==============================================================================#
*.lnk


#==============================================================================#
# Folder for temp contents
#==============================================================================#
_ignore


#==============================================================================#
# Atom
#==============================================================================#
.build-tools.cson

#==============================================================================#
# Eclipse
#==============================================================================#
*target*
*.jar
*.war
*.ear
*.class
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

#==============================================================================#
# Maven
#==============================================================================#
log/
target/


#==============================================================================#
# Java
#==============================================================================#
#   Package Files
#==============================================================================#
*.jar
*.war
*.ear
*.db
*.class
#==============================================================================#
#   Directories
#==============================================================================#
/build/
/bin/
target/
